@font-face {
    font-family: nunito sans;
    src: url(NunitoSans_10pt-Regular.ttf);
}

* {
    font-family: nunito sans !important;
}

.background {
    background-color: #19191B;
}

.purple {
    color: #5454D4;
}

.purple:hover {
    color: #7575fc;
}

.t-c {
    color: #FFFFFFB2;
}

.t-c:hover {
    color: #a8a7a7b2;
}

.tc-b {
    border-color: #FFFFFFB2;
}

.tc-b:hover {
    border-color: #FFFFFFB2;
}

.text-color {
    color: #FFFFFFB2;
}

.customize {
    background-color: #5454D4;
    border: none;
    border-radius: 3px;
}

.customize:hover {
    background-color: #3232a0;
    border: none;
    border-radius: 3px;
}

.bg {
    height: 600px !important;
    background-image: url(images/consult.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.box{
    height: 250px !important;
    width: 300px !important;
}
